@{
    ViewBag.Title = "familySearch";
}
@model List<DONATE_TO_SAVE.Models.Family>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
</head>

<body>
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Search Result for Families
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Families</li>
                </ol>
            </div>
        </div>
        <div>
            @if (Session["uname"] != null)
            {
                <form class="navbar-form navbar-center" action="/Search/familySearchFunction" role="search">
                    <div class="form-group">
                        <input type="text" maxlength="100" size="139" name="search" required="" class="form-control" placeholder="Search Families Here" />
                    </div>
                    <input type="submit" class="btn btn-default btn-info" value="Search" />
                </form>
            }
        </div>
        <hr />
        <!-- /.row

        Image Header-->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/images/page1_img2.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Families</h2>
            </div>
            @foreach (var s in Model)
            {
                if (s.Service.Families.Count != 0)
                {
                    <div class="col-lg-12">
                        <h3 class="page-header">Service: @s.Service.Description</h3><br />
                        <h4>Families</h4>
                    </div>
                
                    foreach (var f in Model)
                    {
                        if(f.Service_ID == f.Service.Id)
                        {
                             <div class="col-md-3 col-sm-6">
                            <div class="panel panel-default text-center">
                                <div class="panel-heading">
                                    <img class="img-responsive" src="@f.Image" alt="">
                                </div>
                                <div class="panel-body">
                                    <h5><strong>Name:</strong> @f.Name</h5>
                                    <h5><strong>Address:</strong> @f.Address</h5>
                                    <h5><strong>Donation:</strong> Rs. @f.Rupees</h5>
                                    @if (f.SponsorStatus == "sponsored")
                                    {
                                        <br /><h5><strong>Already Sponsored</strong></h5><br />
                                    }
                                    @if ((string)Session["uname"] == null && f.SponsorStatus == "notSponsored")
                                    {
                                        <h5>Please <strong>Login/Signup</strong> to Sponsor this Family</h5>
                                    }
                                    @if ((string)Session["uname"] != null && f.SponsorStatus == "notSponsored")
                                    {
                                        <a class="btn btn-default btn-success" style="margin-bottom:1%" href="SponsorFamily?id=@f.Id">Sponsor this Family</a><br />
                                    }
                                    @if ((string)Session["uname"] == "admin")
                                    {
                                        <a class="btn btn-default btn-info" style="margin-right:1%" href="updateFamily?id=@f.Id">Update</a>
                                        <a class="btn btn-default btn-danger" style="margin-right:1%" href="DeleteFamily?id=@f.Id">Delete</a>
                                    }

                                </div>
                            </div>
                        </div>
                        }
                    }
                }
            }
        </div>
        <hr />
        @if ((string)Session["uname"] == "admin")
        {
            <div class="row">
                <div class="col-md-8">
                    <h3>Add Family</h3>
                    <form name="sentMessage" action="~/Family/AddFamily" id="contactForm" enctype="multipart/form-data">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Name of Family/Student:</label>
                                <input type="text" name="Name" required="" class="form-control" id="message" style="resize:none" />
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Address/Class:</label>
                                <input type="text" name="Address" required="" class="form-control" id="message" placeholder="Write class of Khuab Ghar student or Home address of a Family" style="resize:none" />
                            </div>
                        </div>
                        <div class="form-group">
                            <font size="3">
                                Upload Profile Picture:<br /> <input required="" type="file" name="Image">
                            </font>
                        </div><br />
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Select Service</label>
                                <p>
                                    <select name="Service_ID" class="form-control" required="required">
                                        @foreach (var s in Model)
                                        {
                                            <option value="@s.Service.Id">@s.Service.Description</option>
                                        }
                                    </select>
                                </p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Donation they require:</label>
                                <input type="text" name="Rupees" required="" class="form-control" id="message" placeholder="in PK rupees only." style="resize:none" />
                            </div>
                        </div>
                        <div id="success"></div>
                        <button type="submit" class="btn btn-primary">Add Family</button>
                    </form>
                </div>
            </div>
        }
        <hr>
    </div>
</body>

</html>
