@{
    ViewBag.Title = "messageSearch";
}
@model List<DONATE_TO_SAVE.Models.Message>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>

</head>
<body>
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Search Results For Messaging
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Messages</li>
                </ol>
            </div>
        </div>
        <div>
            @if (Session["uname"] != null)
            {
                <form class="navbar-form navbar-center" action="/Search/messageSearchFunction" role="search">
                    <div class="form-group">
                        <input type="text" maxlength="100" size="139" name="search" required="" class="form-control" placeholder="Search Your Messages Here" />
                    </div>
                    <input type="submit" class="btn btn-default btn-info" value="Search" />
                </form>
            }
        </div>
        <hr />
        <!-- /.row -->
        <!-- Intro Content -->
        <h1>Your Messages</h1>
        @foreach (var m in Model)
        {
            if (m.User_ID == (int)Session["userID"] || (string)Session["uname"] == "admin")
            {
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive img-rounded" src="@m.User.Image" alt="">
                    </div>
                    <div class="col-md-9">
                        <h3>
                            @m.Subject <small class="pull-right"> Posted on: @m.Date</small><br />

                            <a class="btn btn-default btn-danger pull-right" style="margin-right: 1%" href="~/Contact/DeleteMessage?id=@m.Id">Remove it!</a>
                            @if ((string)Session["uname"] == "admin")
                            {
                                <a class="btn btn-default btn-info pull-right" style="margin-right: 1%" href="~/Reply/ReplyToMessage?id=@m.Id">Reply</a>
                            }
                        </h3>
                        @m.Message1
                    </div>
                    <hr />
                    <br />
                </div>

                <br />
                <hr />
                <br />
                if (m.Replies.Count != 0)
                {
                    <h3>Reply From Admin</h3>
                    <hr />
                    foreach (var r in m.Replies)
                    {
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="pull-right">Admin</h3>
                                <h3>
                                    <small class="pull-left"> Replied on: @r.Date</small><br />
                                    @if ((string)Session["uname"] == "admin")
                                    {
                                        <a class="btn btn-default btn-danger pull-left" style="margin-left:1%" href="~/Reply/DeleteReply?id=@r.Id">Remove it!</a>
                                    }
                                </h3>
                                @r.Reply1
                            </div>
                            <div class="col-md-2">
                                <img class="img-responsive  img-rounded" style="margin-top: 2%" src="@r.User.Image" alt="">
                            </div>
                            <br />
                        </div>
                    }
                }
                else
                {
                    <h3>No Reply From Admin Yet</h3>
                }
            }

        }
        <br />
        <hr />
        <br />
        <br />
    </div>
</body>
</html>
